.about {
  background-color: #3f72af;
  color: #f9f7f7;
}

.about h1,
h2,
h3,
h6,
p {
  font-family: "Montserrat", sans-serif;
}

.about h1 {
  text-align: center;
  font-weight: bold;
}

.about h6 {
  text-align: center;
}

.about h1:before {
  content: "『 ";
}

.about h1:after {
  content: " 』";
}

.about-row {
  padding: 2%;
}

.about-col {
  padding: auto 10%;
}
.about-image {
  width: 50%;
}
