.experience {
  background-color: #3f72af;
  font-family: "Montserrat", sans-serif;
}

.experience h1 {
  text-align: center;
  padding-bottom: 2%;
  font-weight: bold;
  color: #f9f7f7;
}

.experience h1:before {
  content: "『 ";
}

.experience h1:after {
  content: " 』";
}

.experience h3,
h5 {
  color: #000;
  font-weight: bold;
}

.experience ul {
  color: #000;
}

.experience-date {
  color: #000;
  font-weight: bold !important;
}

.experience-list {
  font-family: "Montserrat", sans-serif;
}
