.project {
  background-color: #3f72af;
  font-family: "Montserrat", sans-serif;
}

.project h1 {
  text-align: center;
  font-weight: bold;
  color: #f9f7f7;
}

.project h1:before {
  content: "『 ";
}

.project h1:after {
  content: " 』";
}

.project h6 {
  text-align: center;
  padding-bottom: 2%;
  color: #f9f7f7;
}

.project-button {
  margin: 1% 3% 0% 0%;
}
